@charset "utf8";

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    background: #e1e1e1;
}

div#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
 }
  
div#nav li {
    float: left;
}
  
div#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }
  
 div#nav li a:hover {
    background-color: #111;
}

div.content {
    display: grid;  
    grid-template-columns: 100px 100px 100px;  
    grid-template-rows: 50px 50px;  
}